[Desktop Entry]
Name=Map Creator
Comment=Create Bible maps (snap via WINE)
Exec=map-creator-unofficial
Icon=${SNAP}/meta/gui/map-creator-unofficial.png
Terminal=false
Type=Application
Categories=Education;Graphics;
StartupWMClass=mapcreator.exe
